# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# Local testing files
dir.txt
upload.txt
api/
doc/
documentation/